@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* Fonts Initialization */
@font-face {
  font-family: clemente_light;
  src: url("./assets/fonts/clemente/clemente_light.ttf");
}

@font-face {
  font-family: clemente_regular;
  src: url("./assets/fonts/clemente/clemente_regular.ttf");
}

@font-face {
  font-family: clemente_semibold;
  src: url("./assets/fonts/clemente/clemente_semibold.ttf");
}

@font-face {
  font-family: clemente_bold;
  src: url("./assets/fonts/clemente/clemente_bold.ttf");
}

@font-face {
  font-family: clemente_book;
  src: url("./assets/fonts/clemente/clemente_bold.ttf");
}

@font-face {
  font-family: gilroy_light;
  src: url("./assets/fonts/gilroy/gilroy_light.ttf");
}

@font-face {
  font-family: gilroy_regular;
  src: url("./assets/fonts/gilroy/gilroy_regular.ttf");
}

@font-face {
  font-family: gilroy_medium;
  src: url("./assets/fonts/gilroy/gilroy_medium.ttf");
}

@font-face {
  font-family: gilroy_semibold;
  src: url("./assets/fonts/gilroy/gilroy_semibold.ttf");
}

@font-face {
  font-family: gilroy_bold;
  src: url("./assets/fonts/gilroy/gilroy_bold.ttf");
}

/* Fonts Initialization */

@theme {
  --color-accent: #115ea6;
  --color-accent_dark: #1066b7;
  --font-clemente_light: clemente_light;
  --font-clemente_regular: clemente_regular;
  --font-clemente_semibold: clemente_semibold;
  --font-clemente_bold: clemente_bold;
  --font-clemente_book: clemente_book;
}

body {
  font-family: "Poppins";
}

.primary_btn,
.primary-btn {
  @apply text-base px-5 py-3 bg-accent text-white rounded-lg font-medium cursor-pointer 
         transition duration-300 ease-in-out shadow-md hover:shadow-lg hover:scale-[1.03] 
         hover:bg-accent_dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent;
}

.sec_btn {
  @apply text-base px-5 py-3 bg-zinc-800 text-white rounded-lg font-medium cursor-pointer 
         transition duration-300 ease-in-out shadow-md hover:shadow-lg hover:scale-[1.03] 
         hover:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-zinc-600;
}

form {
  @apply bg-white p-[16px] rounded-lg flex flex-col gap-[4px];

  label {
    span {
      @apply inline-block mb-[4px];
    }

    .submit-btn {
      @apply mt-[8px];
    }
  }
}

input,
textarea {
  @apply w-full p-2.5 bg-transparent border border-zinc-400 rounded-md text-black outline-none;
}

table {
  @apply w-full bg-white rounded-lg border-collapse;

  tr {
    @apply border-b border-zinc-300;
  }

  th,
  td {
    @apply p-3 text-left;
  }
  th {
    @apply text-black;
  }
  td {
    @apply text-zinc-700;
  }
}

h1 {
  @apply font-clemente_bold text-3xl lg:text-5xl text-center text-black;
}
